.list-item {
    font-family: 'Courier New', Courier, monospace;
    font-size: 14px;
}

.list-item p {
    font-family: 'Courier New', Courier, monospace;
    font-weight: 200;
    font-size: 16px;
    
}