.list-item {
    
    font-family: 'Courier New', Courier, monospace;
    font-size: 14px;
}

.list-item div {
    background-color: rgb(62, 99, 155);
    border: 1px solid bisque;
    border-radius: 5px;
}

.list-item p {
    font-family: 'Courier New', Courier, monospace;
    font-weight: 200;
    font-size: 16px;
    
}

/* img {
    border: 2px solid blanchedalmond;
    box-shadow: rgb(20, 48, 88) 5px 10px;
} */