.route h2 {
    color:rgb(26, 48, 70);
    font-weight: 400;
    background-color: bisque;
}

.all-routes-wrapper {
    margin: 9px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    border: 1px solid bisque;
    border-radius: 5px;
}

.all-routes-wrapper p {
    
    margin-bottom: 5px;
    color: bisque;
    font-family: 'Courier New', Courier, monospace;
    font-size: 3vh;
}

.list-item {
    background-color: rgb(74, 116, 180);
    border-radius: 5px;
    padding: 3px;
    width: 25vw;
    color: rgb(199, 165, 124);
}


.btn {
    margin-left: 20px;
    margin-bottom: 10px;
}

.new-shared-route p {
    color:bisque;
    font-family: 'Courier New', Courier, monospace;
    font-weight: 200;
    font-size: 3vw;
}