.route h2 {
    color:rgb(26, 48, 70);
    font-weight: 400;
    background-color: bisque;
}

.btn {
    margin-left: 20px;
    margin-bottom: 10px;
}

.new-shared-route p {
    color:bisque;
    font-family: 'Courier New', Courier, monospace;
    font-weight: 200;
    font-size: 3vw;
}