
@import url("https://fonts.googleapis.com/css2?family=Caveat&display=swap");

body {
  background-color: rgb(41, 84, 148);
  text-align: center;
}



.App {
  text-align: center;
  margin-top: 3vh;
}

.App p {
  font-family: Caveat;
  color: aquamarine;
  font-size: 45px;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.oval {
  /* margin-top: 8%; */
  margin-left: 30%;
  width: 40%;
  border: solid;
  border-width: 1px;
  border-radius: 15px;
  border-color: aquamarine;
  background:
  radial-gradient(rgb(43, 43, 43) 15%, transparent 16%) 0 0,
  radial-gradient(rgb(43, 43, 43) 15%, transparent 16%) 8px 8px,
  radial-gradient(rgba(255,255,255,.1) 15%, transparent 20%) 0 1px,
  radial-gradient(rgba(255,255,255,.1) 15%, transparent 20%) 8px 9px;
  background-color: rgb(37, 70, 119);
  background-size:16px 16px;
}

.oval h1 {
  color: burlywood;
  font-family: 'Courier New', Courier, monospace;
  font-size: 3vw;  
}

a {
  text-decoration: none;
}

.form-container {
  text-align: center;
  margin-left: 10%;
  width: 80%;
  border-radius: 10px;
  padding: 11px;
}


